 .main_header {
     text-align: center;
     border: 1px solid black;
     margin-left: 100px;
     margin-right: 100px;
 }

 .loginBox {
    
    border: 1px solid black;
    margin: 70px;
    width: 100px;
    

 }

 .container {
     
 }