@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background: #16779E; 
	margin: 0;
    padding: 0;
}


nav {
	border: 1px solid #496773;
	background-color: #496773;
	margin: 0;
    padding: 0;
    height: 30px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

nav h2 {
	width: 35%;
	margin: 0;
    padding: 0;
    float: left;
}

nav ul {
	text-align: right;
	width: 35%;
	margin: 0;
    padding: 0;
    float: right;
	
}

nav ul li {
	list-style: none;
}


a {
	color: #fff;
	text-decoration: none;
}

#logout {
	padding-right: 20px;
}

#displayAll button {
	position: absolute;
	right: 33%;
	top: 74px;

}


#main_header {
	color: #fff; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; 
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
	
}

#map {
	text-align: center;
	width: 95%;
    height: 72%;
    margin: auto;
    margin-top: 23px;
} 

.block {
	text-align: center;
	margin: auto;
}

#userNotFound {
	color: red;
	font-size: 10px;
	display: inline-block;
	position: absolute;
	left: 40%;
	top: 14%;
}

.block h3 {
	margin-right: 6%;
	font-size: 12px;
	color: #fff; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing: 1px; 
}

.block input {  
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	height: 5px;
	width: 175px;
}


.btn-large { 
	padding: 4px 14px; 
	font-size: 10px; 
	line-height: normal; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}

.btn-primary { 
	color: #ffffff; 
}

.btn-primary { 
	background-color: #4a77d4; 
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: linear-gradient(top, #6eb6de, #4a77d4); 
	background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
	border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
 }



